{% extends 'base/base.html' %}

{% block title %} Transactions Templates - Financed {% endblock %}
{% block path %} transaction Templates {% endblock %}
{% block content %}

<div class="row">
<div class="col-12">
  <div class="card mb-4">
    <div class="d-flex justify-content-between mx-3">
        <div class="card-header pb-0">
          <h6>Your Transaction Templates</h6>
        </div>
        <div class="d-flex gap-3 my-auto">
            <button class="btn bg-gradient-danger btn-sm my-auto"  data-bs-toggle="modal" data-bs-target="#add-template-popup">
                <i class="ni ni-fat-add text-2xl"></i>
                <span class="text-sm">Add Template</span>
            </button>
        </div>
    </div>
    <div class="card-body px-0 pt-0 pb-2">
      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Title</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Transaction Type</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Category</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Amount</th>
              <th class="text-secondary opacity-7"></th>
                <th class="text-secondary opacity-7"></th>
            </tr>
          </thead>
          <tbody>
          {% for t in templates %}
            <tr>
              <td>
                <div class="d-flex px-2 py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ t.1 }}</h6>
                  </div>
                </div>
              </td>
              <td class="align-middle text-center text-sm">
                <span class="badge badge-sm bg-gradient-success">{{ t.4 }}</span>
              </td>
              <td>
                <p class="text-xs text-center font-weight-bold mb-0">{{ t.3 }}</p>
              </td>
              <td class="align-middle text-center">
                <span class="text-success text-gradient text-sm font-weight-bold">
                    {{ t.2 }}
                </span>
              </td>
              <td class="align-middle">
                <button data-bs-target="#edit-template-popup{{ t.0 }}" data-bs-toggle="modal" class="btn btn-primary my-auto font-weight-bold text-xs">
                  Edit
                </button>
              </td>
                <td class="align-middle">

                <button data-bs-target="#del-template-popup{{ t.0 }}" data-bs-toggle="modal" class="btn btn-danger my-auto font-weight-bold text-xs">
                  Delete
                </button>
              </td>
            </tr>

              <div class="modal fade" id="edit-template-popup{{ t.0 }}" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
          <div class="modal-body p-0">
            <div class="card card-plain">
              <div class="card-header pb-0 text-left">
                <h3 class="font-weight-bolder text-info text-gradient">Edit Template</h3>
              </div>
              <div class="card-body">
                <form role="form text-left" method="post" action="{{ url_for('edit_template', template_id=t.0) }}">
                  <label>Title</label>
                  <div class="input-group mb-3">
                    <input type="text" required name="title" value="{{ t.1 }}" class="form-control" placeholder="Title" aria-label="title" aria-describedby="title-addon">
                  </div>
                    <label>Amount</label>
                  <div class="input-group mb-3">
                    <input type="text" required name="amount" value="{{ t.2 }}" class="form-control" placeholder="Amount" aria-label="amount" aria-describedby="amount-addon">
                  </div>
                    <label>Type</label>
                  <div class="input-group mb-3">
                    <select class="form-control" name="type">
                        <option value="income" {% if t.4 == 'income' %} selected {% endif %}>Income</option>
                        <option value="expense"  {% if t.4 == 'expense' %} selected {% endif %}>Expense</option>
                    </select>
                  </div>
                    <label>Category</label>
                  <div class="input-group mb-3">
                    <input type="text" required name="category" value="{{ t.3 }}" class="form-control" placeholder="Category" aria-label="Category" aria-describedby="Category-addon">
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-round bg-gradient-info btn-lg w-100 mt-4 mb-0">Save Changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

              <div class="modal fade" id="del-template-popup{{ t.0 }}" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
          <div class="modal-body p-0">
            <div class="card card-plain">
              <div class="card-header pb-0 text-left">
                <h3 class="font-weight-bolder text-info text-gradient">Delete Template</h3>
              </div>
              <div class="card-body">
                <form role="form text-left" method="post" action="{{ url_for('delete_template', template_id=t.0) }}">
                  <h6>Are you sure you want to delete {{ t.1 }}?</h6>

                  <div class="text-center">
                    <button type="submit" class="btn btn-round bg-gradient-danger btn-lg w-100 mt-4 mb-0">Yes, Delete it</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
          {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>


    <div class="modal fade" id="add-template-popup" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
          <div class="modal-body p-0">
            <div class="card card-plain">
              <div class="card-header pb-0 text-left">
                <h3 class="font-weight-bolder text-info text-gradient">Add Template</h3>
              </div>
              <div class="card-body">
                <form role="form text-left" method="post">
                  <label>Title</label>
                  <div class="input-group mb-3">
                    <input type="text" required name="title" class="form-control" placeholder="Title" aria-label="title" aria-describedby="title-addon">
                  </div>
                    <label>Amount</label>
                  <div class="input-group mb-3">
                    <input type="text" required name="amount" class="form-control" placeholder="Amount" aria-label="amount" aria-describedby="amount-addon">
                  </div>
                    <label>Type</label>
                  <div class="input-group mb-3">
                    <select class="form-control" name="type" required>
                        <option value="income">Income</option>
                        <option value="expense">Expense</option>
                    </select>
                  </div>
                    <label>Category</label>
                  <div class="input-group mb-3">
                    <input type="text" required name="category" class="form-control" placeholder="Category" aria-label="Category" aria-describedby="Category-addon">
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-round bg-gradient-info btn-lg w-100 mt-4 mb-0">Add Transaction</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}