{% extends 'base/base.html' %}

{% block title %} Transactions - Financed {% endblock %}

{% block content %}
<div class="row mb-5">
<div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
  <div class="card">
    <div class="card-body p-3">
      <div class="row">
        <div class="col-8">
          <div class="numbers">
            <p class="text-sm mb-0 text-uppercase font-weight-bold">Today's Transaction</p>
            <h5 class="font-weight-bolder">
              $53,000
            </h5>
          </div>
        </div>
        <div class="col-4 text-end">
          <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
            <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
  <div class="card">
    <div class="card-body p-3">
      <div class="row">
        <div class="col-8">
          <div class="numbers">
            <p class="text-sm mb-0 text-uppercase font-weight-bold">Income This Month</p>
            <h5 class="font-weight-bolder">
              2,300
            </h5>
          </div>
        </div>
        <div class="col-4 text-end">
          <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
            <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-4 col-sm-6 mb-xl-0 mb-4">
  <div class="card">
    <div class="card-body p-3">
      <div class="row">
        <div class="col-8">
          <div class="numbers">
            <p class="text-sm mb-0 text-uppercase font-weight-bold">Expense This Month</p>
            <h5 class="font-weight-bolder">
              3,462
            </h5>
          </div>
        </div>
        <div class="col-4 text-end">
          <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
            <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="row">
<div class="col-12">
  <div class="card mb-4">
    <div class="d-flex justify-content-between mx-3">
        <div class="card-header pb-0">
          <h6>Your Transactions</h6>
        </div>
        <div class="d-flex gap-3 my-auto">
            <button class="btn bg-gradient-success btn-sm my-auto" data-bs-toggle="modal" data-bs-target="#add-transaction-popup">
                <i class="ni ni-fat-add text-2xl"></i>
                <span class="text-sm">Add Transaction</span>
            </button>
            <button class="btn bg-gradient-danger btn-sm my-auto">
                <i class="ni ni-fat-add text-2xl"></i>
                <span class="text-sm">Add Template</span>
            </button>
            <button class="btn bg-gradient-primary btn-sm my-auto">
                <i class="fa fa-file-pdf"></i>
                <span class="text-sm">Parse From PDF</span>
            </button>
        </div>
    </div>
    <div class="card-body px-0 pt-0 pb-2">
      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Title</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Account</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Transaction Type</th>
              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Amount</th>
              <th class="text-secondary opacity-7"></th>
            </tr>
          </thead>
          <tbody>
          {% for transaction in transactions %}
            <tr>
              <td>
                <div class="d-flex px-2 py-1">
                  <div>
                  {% if transaction.5 == 'income' %}
                    <button class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></button>
                  {% elif transaction.5 == 'expense' %}
                   <button class="btn btn-icon-only btn-rounded btn-outline-danger mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i class="fas fa-arrow-down"></i></button>
                  {% endif %}
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-sm">{{ transaction.1 }}</h6>
                    <p class="text-xs text-secondary mb-0">{{ transaction.2 }}</p>
                  </div>
                </div>
              </td>
              <td>
                <p class="text-xs font-weight-bold mb-0">{{ transaction.7 }}</p>
              </td>
              <td class="align-middle text-center text-sm">
                  {% if transaction.5 == 'income' %}
                    <span class="badge badge-sm bg-gradient-success">{{ transaction.5 }}</span>
                  {% elif transaction.5 == 'expense' %}
                    <span class="badge badge-sm bg-gradient-danger">{{ transaction.5 }}</span>
                  {% endif %}
              </td>
              <td class="align-middle text-center">
              {% if transaction.5 == 'income' %}
                  <span class="text-success text-gradient text-sm font-weight-bold">+{{ transaction.3 }}</span>
              {% elif transaction.5 == 'expense' %}
                    <span class="text-danger text-gradient text-sm font-weight-bold">-{{ transaction.3 }}</span>
              {% endif %}

              </td>
              <td class="align-middle">
                  <button class="btn btn-link text-danger text-gradient px-3 mb-0"
                        data-bs-toggle="modal"
                        data-bs-target="#del-transaction-popup{{ transaction.0 }}">
                    <i class="far fa-trash-alt me-2"></i>Delete
                  </button>
              </td>
            </tr>

              <div class="modal fade" id="del-transaction-popup{{ transaction.0 }}" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
          <div class="modal-body p-0">
            <div class="card card-plain">
              <div class="card-header pb-0 text-left">
                <h3 class="font-weight-bolder text-info text-gradient">Are you sure you want to delete the selected transaction</h3>
              </div>
              <div class="card-body">
                <form role="form text-left" method="post" action="{{ url_for('delete_transaction', t_id=transaction.0) }}">
                  <div class="text-center">
                    <button type="submit" class="btn btn-round bg-gradient-danger btn-lg w-100 mt-4 mb-0">Yes, Delete it</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

          {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>


    <div class="modal fade" id="add-transaction-popup" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
          <div class="modal-body p-0">
            <div class="card card-plain">
              <div class="card-header pb-0 text-left">
                <h3 class="font-weight-bolder text-info text-gradient">Add Transaction</h3>
              </div>
              <div class="card-body">
                <form role="form text-left" method="post">
                  <label>Title</label>
                  <div class="input-group mb-3">
                    <input type="text" name="title" class="form-control" placeholder="Title" aria-label="title" aria-describedby="title-addon">
                  </div>
                    <label>Amount</label>
                  <div class="input-group mb-3">
                    <input type="text" name="amount" class="form-control" placeholder="Amount" aria-label="amount" aria-describedby="amount-addon">
                  </div>
                    <label>Type</label>
                  <div class="input-group mb-3">
                    <select class="form-control" name="type">
                        <option value="income">Income</option>
                        <option value="expense">Expense</option>
                    </select>
                  </div>
                    <label>Category</label>
                  <div class="input-group mb-3">
                    <input type="text" name="category" class="form-control" placeholder="Category" aria-label="Category" aria-describedby="Category-addon">
                  </div>
                  <label>Date</label>
                  <div class="input-group mb-3">
                    <input type="date" name="date" class="form-control" placeholder="Date" aria-label="date" aria-describedby="date-addon">
                  </div>
                    <label>Account</label>
                  <div class="input-group mb-3">
                      <select class="form-control" name="account_id">
                            <option value="" selected>Select Account</option>
                          {% for account in accounts %}
                          	<option value="{{ account.0 }}">{{ account.1 }}</option>
                          {% endfor %}
                      </select>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-round bg-gradient-info btn-lg w-100 mt-4 mb-0">Add Transaction</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}